# --
# Copyright (C) 2006-2018 c.a.p.e. IT GmbH, https://www.cape-it.de
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file LICENSE for license information (AGPL). If you
# did not receive this file, see https://www.gnu.org/licenses/agpl.txt.
# --


<label for="RecipientDecay">[% Translate("Decay") | html %]: </label>
<div class="Field">
    <input type="text" name="RecipientDecay" id="RecipientDecay" class="W50pc" value="[% Data.RecipientDecay | html %]"/>
</div>
<div class="Clear"></div>

<label for="RecipientBusinessTime">[% Translate("BusinessTime") | html %]: </label>
<div class="Field">
    <input type="checkbox" name="RecipientBusinessTime" id="RecipientBusinessTime" value="1" [% Data.RecipientBusinessTime | html %] />
</div>
<div class="Clear"></div>

<label for="RecipientPopup">[% Translate("Popup") | html %]: </label>
<div class="Field">
    <input type="checkbox" name="RecipientPopup" id="RecipientPopup" value="1" [% Data.RecipientPopup | html %] />
</div>
<div class="Clear"></div>

<label for="RecipientSubject">[% Translate("Subject") | html %]: </label>
<div class="Field">
    [% Data.RecipientSubjectStrg %]
</div>
<div class="Clear"></div>
