# --
# Copyright (C) 2006-2020 c.a.p.e. IT GmbH, https://www.cape-it.de
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file LICENSE for license information (AGPL). If you
# did not receive this file, see https://www.gnu.org/licenses/agpl.txt.
# --


<label for="AgentOverlayRecipientDecay">[% Translate("Decay") | html %]: </label>
<div class="Field">
    <input type="text" name="AgentOverlayRecipientDecay" id="AgentOverlayRecipientDecay" class="W50pc" value="[% Data.AgentOverlayRecipientDecay | html %]"/>
</div>
<div class="Clear"></div>

<label for="AgentOverlayRecipientBusinessTime">[% Translate("BusinessTime") | html %]: </label>
<div class="Field">
    <input type="checkbox" name="AgentOverlayRecipientBusinessTime" id="AgentOverlayRecipientBusinessTime" value="1" [% Data.AgentOverlayRecipientBusinessTime | html %] />
</div>
<div class="Clear"></div>

<label for="AgentOverlayRecipientPopup">[% Translate("Popup") | html %]: </label>
<div class="Field">
    <input type="checkbox" name="AgentOverlayRecipientPopup" id="AgentOverlayRecipientPopup" value="1" [% Data.AgentOverlayRecipientPopup | html %] />
</div>
<div class="Clear"></div>

<label for="AgentOverlayRecipientSubject">[% Translate("Subject") | html %]: </label>
<div class="Field">
    [% Data.AgentOverlayRecipientSubjectStrg %]
</div>
<div class="Clear"></div>
