# --
# Copyright (C) 2006-2021 c.a.p.e. IT GmbH, https://www.cape-it.de
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file LICENSE for license information (AGPL). If you
# did not receive this file, see https://www.gnu.org/licenses/agpl.txt.
# --


[% RenderBlockStart("Graph") %]
<div id="PrintBox" class="Hidden">
    <div id="PrintInfo">
        <div id="Print_Title">[% Data.StartName | html %]</div>
        <table>
            <tr>
                <td class="InfoLeft">[% Translate("Followed Link-Types") | html %]:</td>
                <td>[% Data.RelLinkTypes | html %]</td>
            </tr>
            [% Data.ObjectSpecificPrint %]
            <tr>
                <td class="InfoLeft">[% Translate("Max Link Depth") | html %]:</td>
                <td>[% Data.MaxSearchDepth | html %]</td>
            </tr>
        </table>
    </div>
    <div id="PrintGraphBody">
        <div id="PrintScale">
        </div>
    </div>
</div>
<div class="WidgetSimple" id="Options">
    <div class="Content">
        <input type="hidden" id="ObjectType" name="ObjectType" value="[% Data.ObjectType | html %]" />
        <input type="hidden" id="ObjectID" name="ObjectID" value="[% Data.ObjectID | html %]" />
        <input type="hidden" id="OpenWindow" name="OpenWindow" value="[% Data.OpenWindow | html %]" />
        [% Data.TemplateString %]
        <button type="button" class="CallForAction" value="TemplateEdit" id="TemplateEdit" title='[% Translate("Edit selected template") | html %]'>
            <span>
                <i class="fa fa-cog"></i>
            </span>
        </button>
        <button type="button" class="CallForAction" value="ZoomFit" id="ZoomFit" title='[% Translate("Fits the graph into the visible area") | html %]'>
            <span>
                <i class="fa fa-arrows-alt"></i>
            </span>
        </button>
        <button type="button" class="CallForAction" value="ZoomOut" id="ZoomOut" title='[% Translate("Zoom out") | html %]'>
            <span>
                <i class="fa fa-search-minus"></i>
            </span>
        </button>
        <button type="button" class="CallForAction" value="ZoomIn" id="ZoomIn" title='[% Translate("Zoom in") | html %]'>
            <span>
                <i class="fa fa-search-plus"></i>
            </span>
        </button>
        <button type="button" class="CallForAction" value="ZoomDefault" id="ZoomDefault" title='[% Translate("Zoom to 100%") | html %]'>
            <span>
                <i class="fa fa-search"></i>
            </span>
        </button>
        <button type="button" class="CallForAction" value="ZoomSelection" id="ZoomSelection" title='[% Translate("Tool for defining a zoom-area") | html %]'>
            <span>
                <i class="fa fa-crosshairs"></i>
            </span>
        </button>
        <span> [% Translate("Current zoom level") | html %]:
            <span id="ZoomValue">100%</span>
        </span>
        <span id="Right">
            <button type="button" class="CallForAction" value="GraphLoad" id="GraphLoad" title='[% Translate("Load a graph") | html %]'>
                <span>
                    <i class="fa fa-folder-open-o"></i>
                </span>
            </button>
            <button type="button" class="CallForAction" value="GraphSave" id="GraphSave" title='[% Translate("Save the graph") | html %]'>
                <span>
                    <i class="fa fa-floppy-o"></i>
                </span>
            </button>
            <button type="button" class="CallForAction" value="GraphAdjust" id="GraphAdjust" title='[% Translate("Adjust the graph") | html %]'>
                <span>
                    <i class="fa fa-refresh"></i>
                </span>
            </button>
            <button type="button" class="CallForAction" value="GraphPrint" id="GraphPrint" title='[% Translate("Print the graph") | html %]'>
                <span>
                    <i class="fa fa-print"></i>
                </span>
            </button>
[% RenderBlockStart("GraphWindow") %]
            <button type="button" class="CallForAction" value="GraphWindow" id="GraphWindow" title='[% Translate("Opens the graph in a separate window.") | html %]'>
                <span>
                    <i class="fa fa-external-link"></i>
                </span>
            </button>
[% RenderBlockEnd("GraphWindow") %]
        </span>
    </div>
</div>
<div id="GraphSaved" class="Hidden">[% Translate("Saved") | html %]!</div>
<div id="Shield" tabindex="-1">
</div>
<div id="ZoomArea" class="Hidden">
</div>
<div class="Hidden">
    <input type="hidden" id="LoadGraphTitle" value="[% Translate("Saved graphs for this object") | html %]" />
    <div id="LoadGraphContent">
        <div id="SavedGraphs" class="Hidden">
            <p id="LoadGraphSelection">
            </p>
            <br />
            <div>
                <table class="DataTable">
                    <tbody>
                        <tr>
                            <td>[% Translate("Max Link Depth") | html %]</td>
                            <td id="LoadGraphDepth">
                            </td>
                        </tr>
                        <tr>
                            <td>[% Translate("Followed Link-Types") | html %]</td>
                            <td id="LoadGraphLinkTypes">
                            </td>
                        </tr>
                        [% Data.ObjectSpecificSavedGraphs %]
                        <tr>
                            <td>[% Translate("Adjusting Strength") | html %]</td>
                            <td id="LoadGraphStrength">
                            </td>
                        </tr>
                        <tr>
                            <td>[% Translate("Last changed") | html %]</td>
                            <td id="LoadGraphLastChangedTime">
                            </td>
                        </tr>
                        <tr>
                            <td>[% Translate("Last changed by") | html %]</td>
                            <td id="LoadGraphLastChangedBy">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <p id="NoSavedGraphs" class="Hidden">[% Translate("There are no saved graphs!") | html %]</p>
    </div>
    <input type="hidden" id="LoadGraphSubmit" value='[% Translate("Load") | html %]' />
    <input type="hidden" id="LoadGraphCancel" value='[% Translate("Cancel") | html %]' />
</div>
<div id="GraphBody" class="[% Data.GraphBodyClass %]"></div>
    <div id="Scale">
[% IF Data.TooManyNodes == '0' %]
        [% Data.HTMLString %]
        <div id="ConnectionDummy"></div>
        <div id="ConnectionDummyShow" class="Hidden"></div>
[% END %]
    </div>

    <input type="hidden" id="NoObjectsTitle" value='[% Translate("No Objects!") | html %]' />
    <input type="hidden" id="NoObjectsContent" value='[% Translate("No objects displayable.") | html %]' />
    <input type="hidden" id="NotAdjustedTitle" value='[% Translate("Graph could not be adjusted!") | html %]' />
    <input type="hidden" id="NotAdjustedContent" value='[% Translate("Maybe the graph is too complex or too \"simple\". But you can change the adjusting strength and try again if you like. (simple -> increase; complex -> reduce)") | html %]' />

    <div class="WidgetSimple Hidden Context" id="Context">
        <div class="Header Context">
            <h2><span></span></h2>
        </div>
        <div class="Content">
            <ul>
            <li>
                <a class="Context" id="NodeZoom" href="#">[% Translate("Show") | html %] [% Data.NodeObject | html %]</a>
            </li>
            <li>
                <a class="Context" id="PresentNode" href="#">[% Translate("Add link with displayed") | html %] [% Data.NodeObject | html %]</a>
            </li>
            <li>
                <a class="Context" id="NotPresentNode" href="#">[% Translate("Add link with not displayed") | html %] [% Data.NodeObject | html %]</a>
            </li>
            [% Data.ObjectSpecificContext %]
            </ul>
        </div>
        <div class="ContextFooter"></div>
    </div>

    <div id="ChooseBox" class="Hidden">
        <input type="hidden" value='[% Translate("link with") | html %]' id="ChooseHeader" />
        <div id="ChooseTarget">
            <div>
                <input type="hidden" value="" id="AutoCompleteTarget" />
                [% Data.ObjectSpecificLinkSel %]
                <input type="text" name="TargetObject" value="" class="AutocompleteOff Validate_Required" id="TargetObject" />
                <p class="Hidden Error" id="NoTarget">[% Translate("Either search is empty or there is no matching object!") | html %]</p>
                <p class="Hidden Error" id="Same">[% Translate("Impossible to link a node with itself!") | html %]</p>
                <input type="hidden" id="Another" value="0" />
            </div>
            <p>
                <input type="radio" id="AsTarget" name="Position" checked="checked" />[% Translate("as target") | html %]
                <input type="radio" id="AsSource" name="Position" />[% Translate("as source") | html %]
            </p>
        </div>
        <div id="ChooseLink">
            <p> [% Translate("Link as") | html %]: [% Data.DropBoxLinkTypes %]</p>
            <input type="hidden" id="TypeSubmit" value='[% Translate("Submit") | html %]' />
            <input type="hidden" id="TypeCancel" value='[% Translate("Cancel") | html %]' />
        </div>
    </div>

    <div class="Hidden" id="SetTypeOrDeleteLink">
        <div class="Header">
            <h2></h2>
        </div>
        <div class="Content">
            <p>[% Translate("Do you want to set a new link type or delete this connection?") | html %]</p>
            <p> [% Translate("Link new as") | html %]: [% Data.DropBoxLinkTypes %]</p>
            <p> [% Translate("Change direction?") | html %] <input type="checkbox" id="ChangeDirection" /></p>
            <input type="hidden" id="SetTypeSubmit" value='[% Translate("Set") | html %]' />
            <input type="hidden" id="DeleteSubmit" value='[% Translate("Delete") | html %]' />
            <input type="hidden" id="DeleteCancel" value='[% Translate("Cancel") | html %]' />
        </div>
    </div>

    <div class="Hidden" id="SaveOverwriteGraph">
        <div class="Header">
             <h2><span>[% Translate("Save graph for") | html %] [% Data.StartName | html %]</span></h2>
        </div>
        <div class="Content">
            <fieldset class="TableLike" style="min-width:300px;">
                <label>[% Translate("What should be done?") | html %]</label>
                <div class="Field">
                    <label>
                        <input type="radio" name="SaveMethod" id="NewWriteRadio" value="NewWrite" checked="checked" />[% Translate("Create new") | html %]
                    </label>
                    <label>
                        <input type="radio" name="SaveMethod" id="OverwriteRadio" value="OverWrite" />[% Translate("Overwrite") | html %]
                    </label>
                    <span id="StillWorkingImage" class="AJAXLoader"></span>
                </div>
                <div class="Clear"></div>
            </fieldset>
            <fieldset id="NewWriteValue" class="TableLike" >
                <label>[% Translate("Name") | html %]:</label>
                <div class="Field">
                    <input type="text" id="NewWriteName" tabindex="1" />
                </div>
                <div class="Clear"></div>
            </fieldset>
            <fieldset id="OverwriteValue" class="TableLike Hidden" >
                <label>[% Translate("Which one?") | html %]</label>
                <div id="SaveGraphSelection" class="Field">
                </div>
                <div class="Clear"></div>
                <table class="DataTable">
                    <thead></thead>
                    <tbody>
                        [% Data.ObjectSpecificSavedGraphs %]
                        <tr>
                            <td>[% Translate("Followed Link-Types") | html %]</td>
                            <td id="SaveGraphLinkTypes"></td>
                        </tr>
                        <tr>
                            <td>[% Translate("Max Link Depth") | html %]</td>
                            <td id="SaveGraphDepth"></td>
                        </tr>
                        <tr>
                            <td>[% Translate("Adjusting Strength") | html %]</td>
                            <td id="SaveGraphStrength"></td>
                        </tr>
                        <tr>
                            <td>[% Translate("Last changed") | html %]</td>
                            <td id="SaveGraphLastChangedTime"></td>
                        </tr>
                        <tr>
                            <td>[% Translate("Last changed by") | html %]</td>
                            <td id="SaveGraphLastChangedBy"></td>
                        </tr>
                    </tbody>
                </table>
            </fieldset>
            <p id="NoSavedGraphs" class="Hidden">[% Translate("There are no saved graphs!") | html %]</p>
            <p class="Hidden Error" id="NoSaveName">[% Translate("No name is given!") | html %]</p>
            <p class="Hidden Error" id="NotUniqueName">[% Translate("There is already a saved graph with this name!") | html %]</p>
            <input type="hidden" id="SaveSubmit" value='[% Translate("Save") | html %]' />
            <input type="hidden" id="SaveCancel" value='[% Translate("Cancel") | html %]' />
        </div>
    </div>
    <div class="Hidden" id="GraphLoadedPopup">
        <input type="hidden" id="GraphLoadedTitle" value='[% Translate("Information about loaded graph") | html %]'/>
        <div class="Content">
            <h3>[% Translate("No longer existent nodes") | html %]</h3>
            <table class="DataTable">
                <thead>
                    <tr>
                        <th>[% Translate("Number") | html %]</th>
                        <th>[% Translate("Name") | html %]</th>
                    </tr>
                </thead>
                <tbody id="LostNodes">
                </tbody>
            </table>
            </br>
            <h3>[% Translate("New nodes") | html %]</h3>
            <table class="DataTable">
                <thead>
                    <tr>
                        <th>[% Translate("Number") | html %]</th>
                        <th>[% Translate("Name") | html %]</th>
                    </tr>
                </thead>
                <tbody id="NewNodes">
                </tbody>
            </table>
        </div>
    </div>
    <div class="Hidden" id="TemplateEditPopup">
        <input type="hidden" id="TemplateEditTitle" value='[% Translate("Edit current template") | html %]'/>
        <a>&nbsp;</a>
        <fieldset class="TableLike" style="width:550px;">
            <label for="TemplateMaxSearchDepth" style="width:210px;margin-right:10px;">[% Translate("Max Link Depth") | html %]: </label>
            <div class="Field">[% Data.MaxSearchDepthString %]</div>
            <div class="Clear"></div>
            <label for="TemplateRelevantLinkTypes" style="width:210px;margin-right:10px;">[% Translate("Link-Types to follow") | html %]: </label>
            <div class="Field">[% Data.RelevantLinkTypesString %]</div>
            <div class="Clear"></div>
            <label for="TemplateRelevantObjectSubTypes" style="width:210px;margin-right:10px;">[% Translate("CI-Classes to consider") | html %]: </label>
            <div class="Field">[% Data.RelevantObjectSubTypesString %]</div>
            <div class="Clear"></div>
            <label for="TemplateAdjustingStrength" style="width:210px;margin-right:10px;">[% Translate("Adjusting Strength") | html %]: </label>
            <div class="Field">[% Data.AdjustingStrengthString %]</div>
            <div class="Clear"></div>
        </fieldset>
    </div>

    <div class="Hidden" id="ServicePopup"></div>

    <div class="Hidden" id="Notice">
        <input type="hidden" value='[% Translate("Link not created!") | html %]' id="CreateLinkNoticeTitle" />
        <input type="hidden" value='[% Translate("Link could not be removed!") | html %]' id="DeleteLinkNoticeTitle" />
        <input type="hidden" value='[% Translate("Graph could not be saved!") | html %]' id="SaveGraphNoticeTitle" />
        <input type="hidden" value='[% Translate("Graph could not be loaded!") | html %]' id="LoadGraphNoticeTitle" />
        <input type="hidden" value='[% Translate("Not possible!") | html %]' id="DoubleNoticeTitle" />
        <input type="hidden" value='[% Translate("Please look into the error-log for more information.") | html %]' id="Failed" />
        <input type="hidden" value='[% Translate("The standard configuration was used instead.") | html %]' id="LoadFailed" />
        <input type="hidden" value='[% Translate("Link-Type does already exists!") | html %]' id="Double" />
    </div>
</div>
[% RenderBlockEnd("Graph") %]

[% WRAPPER JSOnDocumentComplete %]
<script type="text/javascript">//<![CDATA[
    $('#AppWrapper').css("margin-top", "0px");

    var $Elements = {
            Body:          $('body'),
            GraphBody:     $('#GraphBody'),
            Options:       $('#Options'),
            Scale:         $('#Scale'),
            PrintBox:      $('#PrintBox'),
            PrintGraphBody:$('#PrintGraphBody'),
            PrintScale:    $('#PrintScale'),
            ZoomValue:     $('#ZoomValue'),
            Context:       $('#Context'),
            Shield:        $('#Shield'),
            Dummy:         $('#ConnectionDummy'),
            DummyShow:     $('#ConnectionDummyShow'),
            ChooseBox:     $('#ChooseBox'),
            SetTODL:       $('#SetTypeOrDeleteLink'),
            ServicePopup:  $('#ServicePopup'),
            ZoomArea:      $('#ZoomArea'),
            MagnifierZoom: $('#ZoomSelection'),
            SOGraph:       $('#SaveOverwriteGraph'),
            Notice:        $('#Notice'),
            GraphLoaded:   $('#GraphLoadedPopup')
        },
        GraphConfig = {
            ObjectType:        '[% Data.ObjectType | html %]',
            ObjectID:          '[% Data.ObjectID | html %]',
            Template:          '[% Data.Template | html %]',
            SubTypes:          '[% Data.RelevantObjectSubTypes | html %]',
            LinkTypes:         '[% Data.RelevantLinkTypes | html %]',
            SearchDepth:       '[% Data.MaxSearchDepth | html %]',
            StartID:           '[% Data.StartID | html %]',
            AdjustingStrength: '[% Data.AdjustingStrength | html %]',
            OpenWindow:        '[% Data.OpenWindow | html %]'
        },
        UserRights = {
            Ro:      '[% Data.UserClassRoRights %]',
            Service: '[% Data.UserServiceRoRight %]'
        };

    // general context elements
    $Elements.ContextNodeZoom       = $Elements.Context.find('#NodeZoom');
    $Elements.ContextPresentNode    = $Elements.Context.find('#PresentNode');
    $Elements.ContextNotPresentNode = $Elements.Context.find('#NotPresentNode');
    $Elements.Service               = $Elements.Context.find('#Services');
    $Elements.Zoom                  = $Elements.ContextNodeZoom;
    $Elements.Present               = $Elements.ContextPresentNode;
    $Elements.NotPresent            = $Elements.ContextNotPresentNode;

    // init graph
    if ( '[% Data.TooManyNodes | html %]' !== '0' ) {
        Core.Config.Set('TooManyNodesTitle', '[% Translate("Too many nodes") | html %]');
        Core.Config.Set('TooManyNodesBody', '[% Translate("More than 100 nodes not possible (currently number: %s)!", Data.TooManyNodes) | html %]');
        ITSM.Agent.LinkGraph.InitTooManyNodes('[% Data.TooManyNodes | html %]', $Elements, GraphConfig);
    }
    else {
        ITSM.Agent.LinkGraph.InitGraph('[% Data.NodesString | html %]', '[% Data.Links | html %]', '[% Data.LinkColors %]', '[% Data.LinkTypes %]', $Elements, '[% Data.Layout | html %]', GraphConfig);
    }

    // init functions
    $('#Template').on('change', function() {
        ITSM.Agent.LinkGraph.TemplateLoad();
    });
    $('#TemplateEdit').on('click', function() {
        ITSM.Agent.LinkGraph.TemplateEdit();
    });
    $('#ZoomFit').on('click', function() {
        ITSM.Agent.LinkGraph.FitIn();
    });
    $('#ZoomOut').on('click', function() {
        ITSM.Agent.LinkGraph.Zoom(1);
    });
    $('#ZoomIn').on('click', function() {
        ITSM.Agent.LinkGraph.Zoom(2);
    });
    $('#ZoomDefault').on('click', function() {
        ITSM.Agent.LinkGraph.Zoom(3);
    });
    $('#GraphLoad').on('click', function() {
        ITSM.Agent.LinkGraph.LoadGraph();
    });
    $('#GraphSave').on('click', function() {
        ITSM.Agent.LinkGraph.SaveGraph();
    });
    $('#GraphAdjust').on('click', function() {
        ITSM.Agent.LinkGraph.Adjust();
    });
    $('#GraphPrint').on('click', function() {
        ITSM.Agent.LinkGraph.PrintPre();
    });
    $('#GraphWindow').on('click', function () {
        var URL = 'Action=AgentITSMConfigItemLinkGraphWindow;ConfigItemID=[% Data.ObjectID | html %];Template=[% Data.Template | html %]';

        if (!Core.Config.Get('SessionIDCookie')) {
            URL += ';' + Core.Config.Get('SessionName') + '=' + Core.Config.Get('SessionID');
        }

        Core.UI.Popup.OpenPopup( Core.Config.Get('Baselink') + URL, 'Action');
        return false;
    });

    // context menu options
    $Elements.ContextNodeZoom.on('mouseup', function(e) {
        if (!e) {
            e = window.event;
        }
        if ( e.which == 3 ) {
            return;
        }
        if ( !$Elements.ContextNodeZoom.hasClass('ContextNoRights') ) {
            HideContext();
            ITSM.Agent.LinkGraph.OpenObject();
        }
    });
    $Elements.ContextPresentNode.on('click', function(e) {
        if ( !$Elements.ContextPresentNode.hasClass('ContextNoRights') ) {
            HideContext();
            ITSM.Agent.LinkGraph.PresentNode();
        }
    });
    $Elements.ContextNotPresentNode.on('click', function(e) {
        if ( !$Elements.ContextNotPresentNode.hasClass('ContextNoRights') ) {
            if (!e) {
                e = window.event;
            }
            HideContext();
            ITSM.Agent.LinkGraph.NotPresentNode(e);
        }
    });

    function HideContext() {
        $Elements.Context.addClass('Hidden');
    }

    $Elements.Service.on('click', function() {
        if ( !$Elements.Service.hasClass('ContextNoRights') ) {
            HideContext();
            ITSM.Agent.LinkGraph.ShowServices();
        }
    });

    if ( '[% Data.TooManyNodes | html %]' === '0' ) {
        ITSM.Agent.LinkGraph.Init('[% Data.NodesString | html %]', UserRights);
    }
//]]></script>
[% END %]
