# --
# Copyright (C) 2006-2018 c.a.p.e. IT GmbH, http://www.cape-it.de
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (AGPL). If you
# did not receive this file, see http://www.gnu.org/licenses/agpl.txt.
# --


<form action="[% Env("CGIHandle") %]" method="post" enctype="multipart/form-data" name="compose" class="Validate">
    <input type="hidden" name="Action" value="[% Env("Action") %]"/>
    <input type="hidden" name="Subaction" value="Print"/>
    <input type="hidden" name="TicketID" value="[% Data.TicketID %]">

    <div class="LayoutPopup ARIARoleMain">
        <div class="Header">
            <h1>
                [% Translate("Article selection for PrintForwardFax") | html %]: &nbsp;&nbsp;
                [% Config("Ticket::Hook") %][% Data.TicketNumber %]&nbsp;&nbsp;-&nbsp;&nbsp;
                [% Data.TicketTitle | truncate(50) | html %]
            </h1>
            <p>
                <a class="CancelClosePopup" href="#">[% Translate("Cancel & close window") | html %]</a>
            </p>
        </div>
        <div class="Content">
            <div class="WidgetSimple">
                <div class="Header">
                     <h2><span>[% Translate("Available articles") | html %]</span></h2>
                </div>
                <div class="Content">
                    <table class="DataTable">
                        <thead>
                            <tr>
                                <th>
                                  <input type="checkbox" id="Print_All" name="Print_All" value="1">
[% WRAPPER JSOnDocumentComplete %]
<script type="text/javascript">//<![CDATA[
$('#Print_All').bind('change', function() {
    ToggleAll();
});
//]]></script>
[% END %]
                                </th>
                                <th>
                                  [% Translate("Article") | html %]
                                </th>
[% RenderBlockStart("ArticleHead") %]
                                <th>
                                  [% Translate(Data.Attribute) | html %]
                                </th>
[% RenderBlockEnd("ArticleHead") %]
                            </tr>
                        </thead>
                        <tbody>
[% RenderBlockStart("ArticleRow") %]
                            <tr>
                                <td>
                                    <input type="checkbox" id="Print_[% Data.ArticleID %]" name="Print_[% Data.ArticleID %]" value="[% Data.ArticleID %]" [% Data.Selected %]>
                                </td>
                                <td>
                                    [% Data.Count %]
                                </td>
[% RenderBlockStart("ArticleDataRow") %]
                                <td>
                                    [% Data.Attribute | html %]
                                 </td>
[% RenderBlockEnd("ArticleDataRow") %]
                               </tr>
[% RenderBlockEnd("ArticleRow") %]
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="Footer">
            <button class="Primary" id="Submit" accesskey="g" title="[% Translate("Submit") | html %] (g)" type="submit" value="[% Translate("Submit") | html %]">[% Translate("Submit") | html %]</button>
        </div>
    </div>
</form>
[% WRAPPER JSOnDocumentComplete %]
<script type="text/javascript">//<![CDATA[
  function ToggleAll() {
    var checked = $('#Print_All').prop('checked');
    $('[type="checkbox"]').each( function() {
        if ($(this).attr('id') != 'Print_All') {
            $(this).prop('checked', checked);
        }
    });
    return true;
  }
//]]></script>
[% END %]
