# --
# Copyright (C) 2006-2020 c.a.p.e. IT GmbH, https://www.cape-it.de
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file LICENSE for license information (AGPL). If you
# did not receive this file, see https://www.gnu.org/licenses/agpl.txt.
# --


[% RenderBlockStart("CustomerCompanySearchAutoComplete") %]
[% WRAPPER JSOnDocumentComplete %]
<script type="text/javascript">//<![CDATA[
    Core.Config.Set('Autocomplete.MinQueryLength', "[% Data.minQueryLength | html %]");
    Core.Config.Set('Autocomplete.QueryDelay', "[% Data.queryDelay | html %]");
    Core.Config.Set('Autocomplete.MaxResultsDisplayed', "[% Data.maxResultsDisplayed | html %]");
    Core.Config.Set('Autocomplete.DynamicWidth', "[% Data.dynamicWidth | html %]");
    Core.Config.Set('Autocomplete.SearchButtonText', [% Translate("Search CustomerCompany") | JSON %]);
//]]></script>

[% RenderBlockStart("CustomerCompanySearchInit") %]
<script type="text/javascript">//<![CDATA[
    var FieldID = '[% Data.ItemID | html %]';
    FieldID = FieldID.replace(/:/g, '\\:');
    Core.Agent.CustomerCompanySearch.Init($("#"+FieldID), [% Data.ActiveAutoComplete | html %]);
//]]></script>
[% RenderBlockEnd("CustomerCompanySearchInit") %]

[% END %]
[% RenderBlockEnd("CustomerCompanySearchAutoComplete") %]

