# --
# Copyright (C) 2006-2024 KIX Service Software GmbH, https://www.kixdesk.com
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file LICENSE for license information (AGPL). If you
# did not receive this file, see https://www.gnu.org/licenses/agpl.txt.
# --


<span class="CustomerDetailsMagnifier">
[% RenderBlockStart("CustomerDetailsMagnifier") %]
    <i class="fa fa-search"></i>
[% RenderBlockEnd("CustomerDetailsMagnifier") %]
</span>
[% Data.CustomerTable %]
<div class="WidgetPopup" id="CustomerDetails[% Data.UserLogin | html %]">
    <div class="Header">
        <h2><span>[% Translate("Customer Information") | html %]</span></h2>
    </div>
    <div class="Content">
        <div class="Spacing">
[% RenderBlockStart("CustomerDetails") %]
            [% Data.CustomerDetailsTable %]
[% RenderBlockEnd("CustomerDetails") %]
        </div>
    </div>
</div>
