# --
# Copyright (C) 2006-2019 c.a.p.e. IT GmbH, https://www.cape-it.de
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file LICENSE for license information (AGPL). If you
# did not receive this file, see https://www.gnu.org/licenses/agpl.txt.
# --


<div id="Checklist" class="WidgetSimple CanDrag Expanded">
    <div class="Header">
        <div class="WidgetAction Toggle" title="[% Translate("Show or hide the content.") | html %]"></div>
[% RenderBlockStart("Edit") %]
        <div class="ActionMenu">
            <div class="WidgetAction Settings">
                <a id="Dashboard0120-TicketNew-toggle" title="Settings">
                    <i class="fa fa-gear"></i>
                </a>
            </div>
        </div>
[% RenderBlockEnd("Edit") %]
        <h2><span>[% Translate(Data.Title) | html %]</span></h2>
    </div>

    <div class="Content" id="KIXSidebarChecklistDisplay">
        <form action="[% Env("CGIHandle") %]" method="post" name="Checklist" id="Checklist" enctype="multipart/form-data" class="PreventMultipleSubmits Validate">
            <div id="ChecklistTaskList">
                <table id="ChecklistTable" class="DataTable">
                    [% Translate(Data.TableContent) %]
                </table>
            </div>
        </form>
    </div>

    <div class="Content Hidden" id="KIXSidebarChecklistEdit">
        <form action="[% Env("CGIHandle") %]" method="post" name="Checklist" id="Checklist" enctype="multipart/form-data" class="PreventMultipleSubmits Validate">
            <input type="hidden" name="TicketID" value="[% Data.TicketID | html %]" />
            <textarea id="ChecklistTasks" name="ChecklistTasks" class="Validate_MaxLength Validate_Length_2000" rows="8">[% Data.TaskString %]</textarea>
            <div class="ChecklistHint"><strong><u>[% Translate("PLEASE NOTE") | html %]:</u></strong><br> [% Translate("Significant changes of item descriptions will cause state loss.") | html %]</div>
            <button type="button" id="ChecklistSubmit" name="ChecklistSubmit" class="CallForAction"  value="[% Translate("Save") | html %]"><span><i class="fa fa-check"></i> [% Translate("Save") | html %]</span></button>
            <span id="ChecklistSaved" class="Hidden">
                <img src="[% Config("Frontend::ImagePath") %]OK.png" border="2" alt="[% Translate("OK") | html %]" />
            </span>
        </form>
    </div>

</div>

[% WRAPPER JSOnDocumentComplete %]
<script type="text/javascript">//<![CDATA[
    Core.KIX4OTRS.KIXSidebarChecklist.Init([% Data.AvailableStates %],[% Data.AvailableStateStyles %],[% Data.Access %]);
//]]></script>
[% END %]
