# --
# Modified version of the work: Copyright (C) 2006-2021 c.a.p.e. IT GmbH, https://www.cape-it.de
# based on the original work of:
# Copyright (C) 2001-2021 OTRS AG, https://otrs.com/
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file LICENSE for license information (AGPL). If you
# did not receive this file, see https://www.gnu.org/licenses/agpl.txt.
# --


[% InsertTemplate("AgentCustomerSearch.tt") %]
<form action="[% Env("CGIHandle") %]" method="post" enctype="multipart/form-data" name="compose" class="Validate PreventMultipleSubmits" id="Compose">
    <input type="hidden" name="Action"    value="[% Env("Action") %]"/>
    <input type="hidden" name="Subaction" value="Store"/>
    <input type="hidden" name="FormID"    value="[% Data.FormID | html %]"/>
    <input type="hidden" name="TicketID"  value="[% Data.TicketID | html %]"/>
    <div class="LayoutPopup ARIARoleMain">

        <div class="Header">
            <h1>[% Translate("Phone Call for %s%s%s", Config('Ticket::Hook'), Config('Ticket::HookDivider'), Data.TicketNumber) | html %] &mdash; [% Data.Title | html %]</h1>
            <p class="AsteriskExplanation">[% Translate("All fields marked with an asterisk (*) are mandatory.") | html %]</p>

[% RenderBlockStart("TicketBack") %]
            <p>
                <a class="CancelClosePopup" href="#">[% Translate("Cancel & close") | html %]</a>
            </p>
[% RenderBlockEnd("TicketBack") %]

        </div>

        <div class="LayoutFixedSidebar SidebarLast Content">

            <div class="SidebarColumn">
                [% Data.KIXSidebarContent %]
            </div>

            <div class="ContentColumn">
                <fieldset class="TableLike FixedLabel">

[% RenderBlockStart("CallContact") %]
                    <input type="hidden" id="CallContactActive" name="CallContactActive" value="1"/>
                    <label for="FromCustomer" class="Mandatory"><span class="Marker">*</span>[% Translate("Call contact") | html %]:</label>
                    <div class="Field">
                        <input id="FromCustomer" type="text" name="FromCustomer" value="" class="CustomerAutoComplete W75pc [% Data.FromInvalid | html %]" autocomplete="off" />
                        <div id="FromCustomerServerError" class="TooltipErrorMessage">
[% RenderBlockStart("FromServerErrorMsg") %]
                            <p>[% Translate("Please include at least one customer for the ticket.") | html %]</p>
[% RenderBlockEnd("FromServerErrorMsg") %]
                        </div>
                    </div>
                    <div class="Clear"></div>

                    <div class="Field [% Data.CustomerHiddenContainer | html %]">
                        <div class="CustomerTicketTemplateFromCustomer SpacingTopSmall Hidden">
                            <input name="CustomerKey" id="CustomerKey" class="CustomerKey" type="hidden" value=""/>
                            <input class="CustomerTicketText" title='[% Translate("Call contact") | html %]' name="CustomerTicketText" id="CustomerTicketText" type="text" value="" readonly="readonly" />
                            <a href="#" id="RemoveCustomerTicket" class="RemoveButton CustomerTicketRemove" title='[% Translate("Remove call contact") | html %]'>
                                <i class="fa fa-minus-square-o"></i>
                                <span class="InvisibleText">[% Translate("Remove call contact") | html %]</span>
                            </a>
                        </div>

                        <div id="TicketCustomerContentFromCustomer" class="CustomerContainer">
                            <span class="BoxLabel">[% Translate("Call contacts") | html %]</span>
[% RenderBlockStart("MultipleCustomer") %]
                            <div class="SpacingTopSmall ">
                                <input name="CustomerKey_[% Data.Count | html %]" id="CustomerKey_[% Data.Count | html %]" class="CustomerKey" type="hidden" value="[% Data.CustomerKey | html %]"/>
                                <input class="CustomerTicketText [% Data.CustomerError | html %]" name="CustomerTicketText_[% Data.Count %]" title='[% Translate("Call contact") | html %]' id="CustomerTicketText_[% Data.Count %]" type="text" value="[% Data.CustomerElement | html %]" readonly="readonly" />
                                <a href="#" id="RemoveCustomerTicket_[% Data.Count %]" class="RemoveButton CustomerTicketRemove" title='[% Translate("Remove call contact") | html %]'>
                                    <i class="fa fa-minus-square-o"></i>
                                    <span class="InvisibleText">[% Translate("Remove call contact") | html %]</span>
                                </a>

[% RenderBlockStart("CustomerErrorExplantion") %]
                                <p class="Explanation Error">[% Translate("Please remove this entry and enter a new one with the correct value.") | html %]</p>
[% RenderBlockEnd("CustomerErrorExplantion") %]

                                <div id="CustomerTicketText_[% Data.Count %]ServerError" class="TooltipErrorMessage" title='[% Translate("Call contact") | html %]'>
[% RenderBlockStart("CustomerGenericServerErrorMsg") %]
                                    <p>[% Translate("This field is required.") | html %]</p>
[% RenderBlockEnd("CustomerGenericServerErrorMsg") %]
[% RenderBlockStart("InvalidConfigServerErrorMsg") %]
                                    <p>[% Translate("This email address is not allowed due to the system configuration.") | html %]</p>
[% RenderBlockEnd("InvalidConfigServerErrorMsg") %]
[% RenderBlockStart("InvalidMXServerErrorMsg") %]
                                    <p>[% Translate("This email address failed MX check.") | html %]</p>
[% RenderBlockEnd("InvalidMXServerErrorMsg") %]
[% RenderBlockStart("InvalidDNSServerErrorMsg") %]
                                    <p>[% Translate("DNS problem, please check your configuration and the error log.") | html %]</p>
[% RenderBlockEnd("InvalidDNSServerErrorMsg") %]
[% RenderBlockStart("InvalidSyntaxServerErrorMsg") %]
                                    <p>[% Translate("The syntax of this email address is incorrect.") | html %]</p>
[% RenderBlockEnd("InvalidSyntaxServerErrorMsg") %]
[% RenderBlockStart("IsDuplicatedServerErrorMsg") %]
                                    <p>[% Translate("This address already exists on the address list.") | html %]</p>
[% RenderBlockEnd("IsDuplicatedServerErrorMsg") %]
                                </div>
                            </div>
[% RenderBlockEnd("MultipleCustomer") %]

                        </div>
[% RenderBlockStart("MultipleCustomerCounter") %]
                        <input name="CustomerTicketCounterFromCustomer" id="CustomerTicketCounterFromCustomer" type="hidden" value="[% Data.CustomerCounter | html %]"/>
[% RenderBlockEnd("MultipleCustomerCounter") %]
                    </div>
                    <div class="Clear"></div>
[% WRAPPER JSOnDocumentComplete %]
<script type="text/javascript">//<![CDATA[
    $('.CustomerTicketRemove').on('click', function () {
        Core.Agent.CustomerSearch.RemoveCustomerTicket( $(this) );
        return false;
    });
//]]></script>
[% END %]

[% RenderBlockStart("PrepopulatedCallContact") %]
[% WRAPPER JSOnDocumentComplete %]
<script type="text/javascript">//<![CDATA[
    Core.Agent.CustomerSearch.AddTicketCustomer( 'FromCustomer', '"[% Data.Firstname | html %] [% Data.Lastname | html %]" <[% Data.Email | html %]>', "[% Data.Customer | html %]", true );
//]]></script>
[% END %]
[% RenderBlockEnd("PrepopulatedCallContact") %]
[% RenderBlockEnd("CallContact") %]

                    <label class="Mandatory" for="Subject"><span class="Marker">*</span>[% Translate("Subject") | html %]:</label>
                    <div class="Field">
                        <input type="text" name="Subject" id="Subject" value="[% Data.Subject | html %]" class="Validate_Required [% Data.SubjectInvalid | html %] W75pc"/>
                        <div id="SubjectError" class="TooltipErrorMessage"><p>[% Translate("This field is required.") | html %]</p></div>
                        <div id="SubjectServerError" class="TooltipErrorMessage"><p>[% Translate("This field is required.") | html %]</p></div>
                    </div>
                    <div class="Clear"></div>

[% RenderBlockStart("TicketOptions") %]
                    <label for="Options">[% Translate("Options") | html %]:</label>
                    <div class="Options Field">

<!-- OutputFilterHook_TicketOptionsBegin -->

<!-- OutputFilterHook_TicketOptionsEnd -->

                    </div>
                    <div class="Clear"></div>
[% RenderBlockEnd("TicketOptions") %]

<!-- OutputFilterHook_NoTicketOptionsFallback -->

[% RenderBlockStart("StandardTemplate") %]
                    <label for="StandardTemplateID">[% Translate("Text Template") | html %]:</label>
                    <div class="Field">
                        [% Data.StandardTemplateStrg %]
                        <p class="FieldExplanation">[% Translate("Setting a template will overwrite any text or attachment.") %]</p>
                    </div>
                    <div class="Clear"></div>
[% WRAPPER JSOnDocumentComplete %]
<script type="text/javascript">//<![CDATA[
    $('#StandardTemplateID').on('change', function (Event) {
        var $TemplateSelect = $(this);
        Core.Agent.TicketAction.ConfirmTemplateOverwrite('RichText', $TemplateSelect, function () {
            Core.AJAX.FormUpdate($TemplateSelect.closest('form'), 'AJAXUpdate', 'StandardTemplateID', ['RichTextField']);
        });
        return false;
    });
//]]></script>
[% END %]
[% RenderBlockEnd("StandardTemplate") %]
                    <label class="Mandatory" for="RichText"><span class="Marker">*</span>[% Translate("Text") | html %]:</label>
                    <div id="RichTextField" class="RichTextField">
[% RenderBlockStart("RichText") %]
[% InsertTemplate("RichTextEditor.tt") %]
[% RenderBlockEnd("RichText") %]

                        <textarea id="RichText" name="Body" title="[% Translate("Message body") | html %]" rows="15" cols="[% Config("Ticket::Frontend::TextAreaNote") %]" class="RichText Validate_Required [% Data.BodyInvalid | html %]">[% Data.Body %]</textarea>
                        <div id="RichTextError" class="TooltipErrorMessage"><p>[% Translate("This field is required.") | html %]</p></div>
                        <div id="RichTextServerError" class="TooltipErrorMessage"><p>[% Translate("This field is required.") | html %]</p></div>
                    </div>
                    <div class="Clear"></div>

                    <label for="FileUpload">[% Translate("Attachment") | html %]:</label>
                    <div class="Field FileUpload">
                        <ul>

[% RenderBlockStart("Attachment") %]
                            <li>
                                [% Data.Filename | html %] ([% Data.Filesize | html %])
                                <button type="button" id="AttachmentDeleteButton[% Data.FileID | html %]" name="AttachmentDeleteButton[% Data.FileID | html %]" value="[% Translate("Delete") | html %]" class="SpacingLeft">[% Translate("Delete") | html %]</button>
                                <input type="hidden" id="AttachmentDelete[% Data.FileID | html %]" name="AttachmentDelete[% Data.FileID | html %]" />
[% WRAPPER JSOnDocumentComplete %]
<script type="text/javascript">//<![CDATA[
    $('#AttachmentDeleteButton[% Data.FileID | html %]').on('click', function () {
        var $Form = $('#AttachmentDeleteButton[% Data.FileID | html %]').closest('form');
        $('#AttachmentDelete[% Data.FileID | html %]').val(1);
        Core.Form.Validate.DisableValidation($Form);
        $Form.trigger('submit');
    });
//]]></script>
[% END %]
                            </li>
[% RenderBlockEnd("Attachment") %]

                            <li>
                                <input name="FileUpload" id="FileUpload" type="file" multiple="multiple" size="30" />
                                <input type="hidden" id="AttachmentUpload" name="AttachmentUpload" value="0" />
                            </li>
                        </ul>
[% WRAPPER JSOnDocumentComplete %]
<script type="text/javascript">//<![CDATA[
    $('#FileUpload').on('change', function () {
        var $Form = $('#FileUpload').closest('form');
        Core.Form.Validate.DisableValidation($Form);
        $Form.find('#AttachmentUpload').val('1').end().submit();
    });
//]]></script>
[% END %]
                    </div>
                    <div class="Clear"></div>

                    <label for="NextStateID">[% Translate("Next ticket state") | html %]:</label>
                    <div class="Field">
                        [% Data.NextStatesStrg %]
                    </div>
                    <div class="Clear"></div>
[% WRAPPER JSOnDocumentComplete %]
<script type="text/javascript">//<![CDATA[
    $('#NextStateID').on('change', function (Event) {
        Core.AJAX.FormUpdate( $(this).parents('form'), 'AJAXUpdate', 'NextStateID', ['StandardTemplateID' [% Data.DynamicFieldNamesStrg %]]);
    });
//]]></script>
[% END %]

                    <label for="Date">[% Translate("Pending date") | html %]:</label>
                    <div class="Field">
                        [% Data.PendingDateString %]
                        <div id="DayServerError" class="TooltipErrorMessage"><p>[% Translate("Date invalid!") | html %]</p></div>
                        <div id="HourServerError" class="TooltipErrorMessage"><p>[% Translate("Date invalid!") | html %]</p></div>
                        <p class="FieldExplanation">[% Translate("For all pending* states.") | html %]</p>
                    </div>
                    <div class="Clear"></div>

[% RenderBlockStart("DynamicField") %]
                <div class="Row Row_DynamicField_[% Data.Name | html %][% Data.Class | html %]">
                        [% Data.Label %]
                        <div class="Field">
                            [% Data.Field %]
                        </div>
                        <div class="Clear"></div>
                    </div>
[% RenderBlockEnd("DynamicField") %]

[% RenderBlockStart("TimeUnitsLabel") %]
                    <label for="TimeUnits">[% Translate("Time units") | html %] [% Translate(Config("Ticket::Frontend::TimeUnits")) | html %]:</label>
[% RenderBlockEnd("TimeUnitsLabel") %]
[% RenderBlockStart("TimeUnitsLabelMandatory") %]
                    <label class="Mandatory" for="TimeUnits"><span class="Marker">*</span>[% Translate("Time units") | html %] [% Translate(Config("Ticket::Frontend::TimeUnits")) | html %]:</label>
[% RenderBlockEnd("TimeUnitsLabelMandatory") %]
[% RenderBlockStart("TimeUnits") %]
                    <div class="Field">
                        <input type="text" name="TimeUnits" id="TimeUnits" value="[% Data.TimeUnits | html %]" class="W50pc Validate_TimeUnits [% Data.TimeUnitsRequired | html %] [% Data.TimeUnitsInvalid | html %]"/>
                        <div id="TimeUnitsError" class="TooltipErrorMessage"><p>[% Translate("Invalid time!") | html %]</p></div>
                        <div id="TimeUnitsServerError" class="TooltipErrorMessage"><p>[% Translate("This field is required.") | html %]</p></div>
                    </div>
                    <div class="Clear"></div>
[% RenderBlockEnd("TimeUnits") %]
                    <div class="EndOfForm"></div>
                </fieldset>
            </div>
        </div>
        <div class="Footer">
            <button class="CallForAction Primary" id="submitRichText" accesskey="g" title="[% Translate("Submit") | html %] (g)" type="submit" value="[% Translate("Submit") | html %]"><span><i class="fa fa-check-square-o"></i> [% Translate("Submit") | html %]</span></button>
        </div>
    </div>
</form>

#Layers
[% WRAPPER JSOnDocumentComplete %]
<script type="text/javascript">//<![CDATA[
    Core.Agent.TicketAction.Init();
    Core.Config.Set('Localization.Delete', [% Translate("Delete") | JSON %]);
    Core.KIX4OTRS.KIXSidebar.Init('[% Env("AgentTicketPhoneCommonSidebarWidth") %]','[% Env("Action") %]','TicketID=[% Data.TicketID | uri %]');
//]]></script>
[% END %]
