# --
# AgentArticleCopyMove.tt - provides HTML form for AgentArticleCopyMove
# Copyright (C) 2006-2016 c.a.p.e. IT GmbH, http://www.cape-it.de
#
# written/edited by:
# * Martin(dot)Balzarek(at)cape(dash)it(dot)de
# * Stefan(dot)Mehlig(at)cape(dash)it(dot)de
# * Ralf(dot)Boehm(at)cape(dash)it(dot)de
# * Dorothea(dot)Doerffel(at)cape(dash)it(dot)de
#
# --
# $Id$
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (AGPL). If you
# did not receive this file, see http://www.gnu.org/licenses/agpl.txt.
# --

<form action="[% Env("CGIHandle") %]" method="post" enctype="multipart/form-data" name="compose" id="Compose" class="Validate PreventMultipleSubmits">
    <input type="hidden" name="Action" value="[% Env("Action") %]"/>
    <input type="hidden" name="Subaction" value="Update"/>
    <input type="hidden" name="TicketID" value="[% Data.TicketID | html %]"/>
    <input type="hidden" name="ArticleID" value="[% Data.ArticleID | html %]"/>

    <div class="LayoutPopup ARIARoleMain">
        <div class="Header">
            <h1>[% Translate("Copy/Move/Delete") | html %] [% Config("Ticket::Hook") %][% Data.TicketNumber | html %] - [% Data.Title | truncate(50) | html %]</h1>
            <p><a class="CancelClosePopup" href="#">[% Translate("Cancel & close") | html %]</a></p>
        </div>
        <div class="Content">
            <fieldset class="TableLike FixedLabel">
                <label class="Mandatory">
                    [% Translate("Article") | html %]-[% Translate("Subject") | html %]:
                </label>
                <div class="Field">
                    [% Data.Subject | html %]
                </div>
                <div class="Clear"></div>

                <label class="Mandatory">
                    <span class="Marker">*</span>
                    [% Translate("Action to be performed") | html %]:
                </label>
[% RenderBlockStart("ArticleActionOptions") %]
                <div class="Field">
                    <input type="radio" name="ArticleAction" id="CopyCheckbox" class="ArticleActionRadio" value="Copy"/>
                    <label for="CopyCheckbox">[% Translate("Copy") | html %]</label>
                    <br/>

[% RenderBlockStart("FurtherActionOptions") %]
                    <input type="radio" name="ArticleAction" id="MoveCheckbox" class="ArticleActionRadio" value="Move"/>
                    <label for="MoveCheckbox">[% Translate("Move") | html %]</label>
                    <br/>

                    <input type="radio" name="ArticleAction" id="DeleteCheckbox" class="ArticleActionRadio" value="Delete"/>
                    <label for="DeleteCheckbox">[% Translate("Delete") | html %]</label>
                    <br/>
[% RenderBlockEnd("FurtherActionOptions") %]
                </div>
                <div class="SpacingTop Clear"></div>
[% RenderBlockEnd("ArticleActionOptions") %]
            </fieldset>

            <fieldset class="TableLike FixedLabel Hidden DeleteOptions">
                <label class="Mandatory">
                    [% Translate("Options for Delete") | html %]
                </label>
                <div class="Clear"></div>
                <label for="DeletedConfirm">
                    [% Translate("Really delete this article?") | html %]
                </label>
                <div class="Field">
                    <input type="checkbox" name="DeletedConfirm" id="DeletedConfirm" value="Delete" class="Validate_Required"/>
                    <div id="DeletedConfirmError" class="TooltipErrorMessage"><p>[% Translate("This field is required.") | html %]</p></div>
                    <div id="DeletedConfirmServerError" class="TooltipErrorMessage"><p>[% Translate("This field is required.") | html %]</p></div>
                </div>
                <div class="Clear"></div>
            </fieldset>

            <fieldset class="TableLike FixedLabel Hidden MoveOptions CopyOptions">
                <label class="Mandatory" id="MoveCopyTitle">
                    [% Translate("Options for Copy") | html %]
                </label>
                <div class="Clear"></div>
                <label class="Mandatory" for="NewTicketNumber">
                    <span class="Marker">*</span>
                    [% Config("Ticket::Hook") %] [% Translate("of destination ticket") | html %]:
                </label>
                <div class="Value">
                    <input type="text" name="NewTicketNumber" id="NewTicketNumber" value="[% Data.NewTicketNumber | html %]" class="W20pc Validate_Required [% Data.NewTicketNumberInvalid | html %]"/>
                    <div id="NewTicketNumberError" class="TooltipErrorMessage"><p>[% Translate("This field is required.") | html %]</p></div>
                    <div id="NewTicketNumberServerError" class="TooltipErrorMessage"><p>[% Translate("Invalid ticket number!") | html %]</p></div>
                </div>
                <div class="Clear"></div>
            </fieldset>

[% RenderBlockStart("TimeUnits") %]
            <fieldset class="TableLike FixedLabel Hidden CopyOptions">
                <label for="TimeUnits">
                    [% Translate("Copied time units of the source article") | html %]
                </label>
                <div class="Field">
                    <input type="text" name="TimeUnits" id="TimeUnits" value="[% Data.AccountedTime | html %]" class="W10pc Validate_TimeUnits Validate_Lower Validate_Lower_[% Data.AccountedTime | html %] [% Data.NeedAccountedTime | html %]"/>
                    [% Translate(Config("Ticket::Frontend::TimeUnits")) | html %]
                    <div id="TimeUnitsError" class="TooltipErrorMessage"><p>[% Translate("Invalid time!") | html %]<br/>[% Translate("You cannot asign more time units as in the source article!") | html %]</p></div>
                </div>
                <div class="Clear"></div>

                <label>
                    [% Translate("Handling of accounted time from source article?") | html %]
                </label>
                <div class="Field">
                    <input type="radio" name="TimeUnitsOriginal" id="TimeUnitsOriginalKeep" class="TimeUnitsOriginal" value="Keep"/>
                    <label for="TimeUnitsOriginalKeep">[% Translate("Leave unchanged") | html %]</label>
                    <br/>

                    <input type="radio" name="TimeUnitsOriginal" id="TimeUnitsOriginalDifference" class="TimeUnitsOriginal" value="Difference"/>
                    <label for="TimeUnitsOriginalDifference">[% Translate("Change to residue") | html %]</label>
                    <br/>

                    <input type="radio" name="TimeUnitsOriginal" id="TimeUnitsOriginalDelete" class="TimeUnitsOriginal" value="Delete"/>
                    <label for="TimeUnitsOriginalDelete">[% Translate("Delete") | html %]</label>
                </div>
                <div class="Clear"></div>
            </fieldset>
[% RenderBlockEnd("TimeUnits") %]

        </div>
        <div class="Footer">
            <button class="CallForAction Primary" id="submitRichText" accesskey="g" title="[% Translate("Submit") | html %] (g)" type="submit" value="[% Translate("Submit") | html %]"><span><i class="fa fa-check"></i> [% Translate("Submit") | html %]</span></button>
        </div>
    </div>
</form>

[% WRAPPER JSOnDocumentComplete %]
<script type="text/javascript">//<![CDATA[
var InitVal = $('.ArticleActionRadio:checked').val(),
    $CopyOptions = $('.CopyOptions'),
    $DeleteOptions = $('.DeleteOptions'),
    $MoveOptions = $('.MoveOptions'),
    $DeleteConfirm = $('#DeletedConfirm'),
    $NewTicketNumber = $('#NewTicketNumber'),
    $MoveCopyTitle = $('#MoveCopyTitle');

// show only options, which belong to selected article
$('.' + InitVal + 'Options').removeClass('Hidden');

// show options according to selected article action
$('.ArticleActionRadio').bind('change', function () {
    var CurrVal = $(this).val();

    // change required fields and labels according to selected article action
    if (CurrVal == 'Delete') {
        $DeleteConfirm.addClass('Validate_Required');
        $NewTicketNumber.removeClass('Validate_Required');

        $CopyOptions.addClass('Hidden');
        $MoveOptions.addClass('Hidden');
        $DeleteOptions.removeClass('Hidden');
    }
    else {
        $DeleteConfirm.removeClass('Validate_Required');
        $NewTicketNumber.addClass('Validate_Required');

        if (CurrVal == 'Copy') {
            $DeleteOptions.addClass('Hidden');
            $MoveOptions.addClass('Hidden');
            $CopyOptions.removeClass('Hidden');
            $MoveCopyTitle.html('[% Translate("Options for Copy") | html %]');
        }
        else if (CurrVal == 'Move') {
            $CopyOptions.addClass('Hidden');
            $DeleteOptions.addClass('Hidden');
            $MoveOptions.removeClass('Hidden');
            $MoveCopyTitle.html('[% Translate("Options for Move") | html %]');
        }
    }

    return;
});
$('.ArticleActionRadio').filter('[value=[% Data.ArticleAction | html %]]').prop('checked', true).trigger('change');

[% RenderBlockStart("TimeUnitsJs") %]
// add validation for maximum time units
$.validator.addMethod("Validate_Lower", function (Value, Element) {
    var Classes = $(Element).attr('class'),
        MaxValue = 0,
        LowerClassPrefix = 'Validate_Lower_',
        RegExLower = new RegExp(LowerClassPrefix);

    $.each(Classes.split(' '), function (Index, Value) {
        if (RegExLower.test(Value)) {
            MaxValue = Value.replace(LowerClassPrefix, '');
        }
    });

    return (parseInt(Value, 10) <= MaxValue);
});

$.validator.addClassRules("Validate_Lower", {
    Validate_Lower: true
});

// disable validation of time units, if it is not a copy action
$('.ArticleActionRadio').bind('change', function () {
    var $TimeUnits = $('#TimeUnits');
    if ($(this).val() == 'Copy') $TimeUnits.addClass('Validate_Lower [% Data.NeedAccountedTime | html %]');
    else $TimeUnits.removeClass('Validate_Lower [% Data.NeedAccountedTime | html %]');
    return;
});

$('.TimeUnitsOriginal').filter('[value=[% Data.TimeUnitsOriginal | html %]]').prop('checked', true).trigger('change');

[% RenderBlockEnd("TimeUnitsJs") %]
//]]></script>
[% END %]
