# --
# Modified version of the work: Copyright (C) 2006-2023 KIX Service Software GmbH, https://www.kixdesk.com
# based on the original work of:
# Copyright (C) 2001-2023 OTRS AG, https://otrs.com/
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file LICENSE for license information (AGPL). If you
# did not receive this file, see https://www.gnu.org/licenses/agpl.txt.
# --


[% RenderBlockStart("OverviewNavBar") %]
<div class="OverviewBox ARIARoleMain [% Data.View | html %]">
    <h1>[% Translate(Data.TitleName) | html %]: [% Translate(Data.TitleValue) | html %]</h1>

    [% Data.DataInTheMiddle %]

    <div class="OverviewControl" id="OverviewControl">
        <div>
            <div class="ControlRow">
[% RenderBlockStart("OverviewNavBarFilter") %]
                <ul class="Tabs">
[% RenderBlockStart("OverviewNavBarFilterItem") %]
[% RenderBlockStart("OverviewNavBarFilterItemSelected") %]
                    <li class="Active [% Data.CSS | html %]">
                        <a href="[% Env("Baselink") %]Action=[% Env("Action") %];[% Data.FilterLink %]Filter=[% Data.Filter | uri %]">[% Translate(Data.Name) | html %]<span>[% Data.Count | html %]</span></a>
                    </li>
[% RenderBlockEnd("OverviewNavBarFilterItemSelected") %]
[% RenderBlockStart("OverviewNavBarFilterItemSelectedNot") %]
                    <li class="[% Data.CSS | html %]">
                        <a href="[% Env("Baselink") %]Action=[% Env("Action") %];[% Data.FilterLink %]Filter=[% Data.Filter | uri %]">[% Translate(Data.Name) | html %]<span>[% Data.Count | html %]</span></a>
                    </li>
[% RenderBlockEnd("OverviewNavBarFilterItemSelectedNot") %]
[% RenderBlockStart("OverviewNavBarFilterItemSplit") %]
                    -
[% RenderBlockEnd("OverviewNavBarFilterItemSplit") %]
[% RenderBlockEnd("OverviewNavBarFilterItem") %]
                </ul>
[% RenderBlockEnd("OverviewNavBarFilter") %]
[% RenderBlockStart("OverviewNavBarPageBack") %]
                <ul class="Tabs">
                    <li>
                        <a id="ITSMConfigItemSearch" href="[% Env("Baselink") %]Action=[% Env("Action") %];[% Data.LinkBack %]">[% Translate("Change search options") | html %]</a>
                    </li>
                </ul>
[% WRAPPER JSOnDocumentComplete %]
<script type="text/javascript">//<![CDATA[
    $('#ITSMConfigItemSearch').on('click', function (Event) {
        ITSM.Agent.ConfigItem.Search.OpenSearchDialog( 'AgentITSMConfigItemSearch', '[% Data.Profile | html %]', '[% Data.ClassID | html %]' );
        return false;
    });
//]]></script>
[% END %]
[% RenderBlockEnd("OverviewNavBarPageBack") %]

[% RenderBlockStart("ContextSettings") %]
                <ul class="ContextFunctions">
                    <li class="ContextSettings ITSMConfigItemOverview">
                        <a href="#" id="ShowContextSettingsDialogTLV" title="[% Translate("Settings for custom config item list view") | html %]">
                            <i class="fa fa-reorder"></i>
                            <span>[% Translate("Settings for custom config item list view") | html %]</span>
                        </a>
                    </li>
                    <li class="ContextSettings ITSMConfigItemOverview">
                        <a href="#" id="ShowContextSettingsDialog" title="[% Translate("Context Settings") | html %]">
                            <i class="fa fa-cog"></i>
                            <span>[% Translate("Context Settings") | html %]</span>
                        </a>
                    </li>
                </ul>

                <div id="ContextSettingsDialogContainer" class="Hidden">
                    <form action="[% Env("CGIHandle") %]" method="post" id="ContextSettingsDialog">
                        <input type="hidden" name="Action" value="AgentPreferences"/>
                        <input type="hidden" name="Subaction" value="Update"/>
                        <input type="hidden" name="Group" value="[% Data.Group | html %]"/>
                        <input type="hidden" name="RedirectURL" value="[% Data.RequestedURL | html %];ClassID=[% Data.ClassID | html %];TakeLastSearch=1;Subaction=Search;Profile=[% Data.Profile | html %]"/>
                        <fieldset class="TableLike">
                            <label for="[% Data.PreferencesKey | html %]">[% Translate("Config Items per page") | html %]:</label>
                            <div class="Field">
                                [% Data.PageShownString %]
                            </div>
                            <div class="Clear"></div>
                        </fieldset>
                    </form>
                </div>

                <div id="ContextSettingsDialogContainerTLV" class="Hidden">
                    <form action="[% Env("CGIHandle") %]" method="post" id="ContextSettingsDialogTLV">
                        <input type="hidden" name="Action" value="AgentPreferences"/>
                        <input type="hidden" name="CallingAction" value="[% Env("Action") %]"/>
                        <input type="hidden" name="Subaction" value="Update"/>
                        <input type="hidden" name="Group" value="ConfigItemOverviewCustomColumnValue"/>
                        <input type="hidden" name="SelectedColumns" value=""/>
                        <input type="hidden" name="ClassID" value="[% Data.ClassID | html %]"/>
                        <input type="hidden" name="RedirectURL" value="[% Data.RequestedURL | html %];ClassID=[% Data.ClassID | html %];TakeLastSearch=1;Subaction=Search;Profile=[% Data.Profile | html %];View=Custom"/>
[% RenderBlockStart("OverviewNavSettingCustomCILV") %]
                        [% Data.Columns %]
[% RenderBlockEnd("OverviewNavSettingCustomCILV") %]
                    </form>
                </div>
[% WRAPPER JSOnDocumentComplete %]
<script type="text/javascript">//<![CDATA[
    // bind the ContextSettingsDialogContainer
    $('#ShowContextSettingsDialog').on('click', function (Event) {
        Core.UI.Dialog.ShowContentDialog($('#ContextSettingsDialogContainer'), [% Translate("Settings") | JSON %], '20%', 'Center', true,
            [
                {
                    Label: [% Translate("Submit") | JSON %],
                    Type: 'Submit',
                    Class: 'Primary'
                }
            ]
        );
        Event.preventDefault();
        Event.stopPropagation();
        return false;
    });

$('#ShowContextSettingsDialogTLV').on('click', function (Event) {
    Core.UI.Dialog.ShowContentDialog($('#ContextSettingsDialogContainerTLV'), [% Translate("Column Settings") | JSON %], '20%', 'Center', true,
        [
            {
                Label: [% Translate("Submit") | JSON %],
                Type: 'Submit',
                Class: 'Primary ContextSettingsDialogContainerTLV'}
        ]);

    var SelectedColumns = '',
        ColumnArray = new Array();

    // set already selected columns
    $('#SortableSelected').find('li').each(function(){
        ColumnArray.push($(this).attr('name'));
    });
    SelectedColumns = ColumnArray.join(",");
    $('input[name="SelectedColumns"]').val(SelectedColumns);

    // sort
    $("#SortableSelected, #SortablePossible").sortable({
        connectWith: ".ColumnOrder",
        stop: function( event, ui ) {

            ColumnArray     = [];
            SelectedColumns = '';

            $('#SortableSelected').find('li').each(function(){
                ColumnArray.push($(this).attr('name'));
            });
            SelectedColumns = ColumnArray.join(",");
            $('input[name="SelectedColumns"]').val(SelectedColumns);
        }
    }).disableSelection();

    Event.preventDefault();
    Event.stopPropagation();
    return false;
});

//]]></script>
[% END %]
[% RenderBlockEnd("ContextSettings") %]

            </div>
            <div class="ActionRow">
                <div class="OverviewActions">

[% RenderBlockStart("BulkAction") %]
                    <ul class="Actions">
                        <li id="ConfigItemBulkAction" class="Bulk Inactive">
                            <a href="#">[% Translate("Bulk") | html %]</a>
                        </li>
                    </ul>
[% RenderBlockEnd("BulkAction") %]

                    [% Data.ActionRow %]
                    <ul class="OverviewZoom">

[% RenderBlockStart("OverviewNavBarViewMode") %]
[% RenderBlockStart("OverviewNavBarViewModeSelected") %]
                        <li class="Active">
                            <a class="[% Data.Name | html %]" name="OverviewControl" href="[% Env("Baselink") %]Action=[% Env("Action") %];Filter=[% Data.Filter | uri %];View=[% Data.View | uri %];[% Data.LinkFilter %]" title="[% Translate(Data.Name) | html %]">
                                [% Translate(Data.NameShort) | html %]
                            </a>
                        </li>
[% RenderBlockEnd("OverviewNavBarViewModeSelected") %]
[% RenderBlockStart("OverviewNavBarViewModeNotSelected") %]
                        <li>
                            <a class="[% Data.Name | html %]" name="OverviewControl" href="[% Env("Baselink") %]Action=[% Env("Action") %];Filter=[% Data.Filter | uri %];View=[% Data.View | uri %];[% Data.LinkFilter %]" title="[% Translate(Data.Name) | html %]">
                                [% Translate(Data.NameShort) | html %]
                            </a>
                        </li>
[% RenderBlockEnd("OverviewNavBarViewModeNotSelected") %]
[% RenderBlockEnd("OverviewNavBarViewMode") %]
                    </ul>
                    <span class="Pagination">
[% RenderBlockStart("OverviewNavBarPageNavBar") %]
                        [% Data.ResultLong %]
                        [% Data.SiteNavBarLong %]
[% RenderBlockEnd("OverviewNavBarPageNavBar") %]
                    </span>
                    <div class="ClearLeft"></div>
                </div>
# sort order bar if needed
                [% Data.SortOrderBar %]
            </div>
        </div>
    </div>
</div>
[% RenderBlockEnd("OverviewNavBar") %]
