# --
# Copyright (C) 2006-2018 c.a.p.e. IT GmbH, http://www.cape-it.de
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (AGPL). If you
# did not receive this file, see http://www.gnu.org/licenses/agpl.txt.
# --


[% RenderBlockStart("ServiceList") %]
<div class="CustomerDashboardCustomerServices">
    <table class="DataTable">
        <tbody>
[% RenderBlockStart("ServiceItem") %]
            <tr>
                <td>
                    <div title="[% Data.Name | html %]">[% Data.Name | html %]</div>
                </td>
            </tr>
[% RenderBlockEnd("ServiceItem") %]
[% RenderBlockStart("NoServices") %]
            <tr>
                <td>
                    [% Translate("No serivces assigned") | html %]
                </td>
            </tr>
[% RenderBlockEnd("NoServices") %]
        </tbody>
    </table>
</div>
[% RenderBlockEnd("ServiceList") %]

[% WRAPPER JSOnDocumentComplete %]
<script type="text/javascript">//<![CDATA[
    $('.CustomerDashboardCustomerServices').css('max-height','[% Data.TableHeight | html %]px');
//]]></script>
[% END %]
