# --
# Copyright (C) 2006-2024 KIX Service Software GmbH, https://www.kixdesk.com
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file LICENSE for license information (AGPL). If you
# did not receive this file, see https://www.gnu.org/licenses/agpl.txt.
# --


[% RenderBlockStart("Services") %]
    <div class="Header">
         <h2><span>[% Data.Name | html %]: [% Translate("Linked Services") | html %]</span></h2>
    </div>
    <div class="Content">
        <table class="DataTable">
            <thead>
                <tr>
                    <th>Service</th>
                    <th>[% Translate("Linked as") | html %]</th>
                </tr>
            </thead>
            <tbody>
[% RenderBlockStart("Service") %]
            <tr>
                <td><a href='./index.pl?Action=AgentITSMServiceZoom;ServiceID=[% Data.ServiceID | html %]' target="_parent">[% Data.ServiceName | html %]</a></td>
                <td>[% Data.LinkType | html %]</td>
            </tr>
[% RenderBlockEnd("Service") %]
[% RenderBlockStart("NoService") %]
            <tr>
                <td>[% Translate("No linked Services") | html %]</td>
                <td>&nbsp;</td>
            </tr>
[% RenderBlockEnd("NoService") %]
[% RenderBlockStart("ServiceError") %]
            <tr>
                <td>[% Translate("Something went wrong! Please look into the error-log for more information.") | html %]</td>
                    <td>&nbsp;</td>
        </tr>
[% RenderBlockEnd("ServiceError") %]
            </tbody>
        </table>
    </div>
[% RenderBlockEnd("Services") %]

[% RenderBlockStart("Printing") %]
<div id="PrintWindow" ></div>
<script type="text/javascript">//<![CDATA[
    function Check() {
        if(document.readyState != "complete") {
            window.setTimeout(Check, 200);
            return false;
        }
        ITSM.Agent.LinkGraph.PrintPost();
    }
    Check();
//]]></script>
[% RenderBlockEnd("Printing") %]

[% RenderBlockStart("ObjectSpecificSelections") %]
<div class="WidgetSimple TableCell">
    <div class="Header">
         <h2><span>[% Translate(Data.Title) | html %]</span></h2>
    </div>
    <div class="Content">
        [% Data.SelectionString %]
    </div>
</div>
[% RenderBlockEnd("ObjectSpecificSelections") %]
