# --
# Copyright (C) 2006-2024 KIX Service Software GmbH, https://www.kixdesk.com
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file LICENSE for license information (AGPL). If you
# did not receive this file, see https://www.gnu.org/licenses/agpl.txt.
# --


[% RenderBlockStart("CustomerUserCompanySearchAutoComplete") %]
[% WRAPPER JSOnDocumentComplete %]
<script type="text/javascript">//<![CDATA[
    Core.Config.Set('Autocomplete.MinQueryLength', "[% Data.minQueryLength | html %]");
    Core.Config.Set('Autocomplete.QueryDelay', "[% Data.queryDelay | html %]");
    Core.Config.Set('Autocomplete.MaxResultsDisplayed', "[% Data.maxResultsDisplayed | html %]");
    Core.Config.Set('Autocomplete.DynamicWidth', "[% Data.dynamicWidth | html %]");
    Core.Config.Set('Autocomplete.SearchButtonText', [% Translate("Search CustomerUserCompany") | JSON %]);
//]]></script>

[% RenderBlockStart("CustomerUserCompanySearchInit") %]
<script type="text/javascript">//<![CDATA[
    var FieldID = '[% Data.ItemID | html %]';
    FieldID = FieldID.replace(/:/g, '\\:');
    Core.Agent.CustomerUserCompanySearch.Init($("#"+FieldID), [% Data.ActiveAutoComplete | html %]);
//]]></script>
[% RenderBlockEnd("CustomerUserCompanySearchInit") %]

[% END %]
[% RenderBlockEnd("CustomerUserCompanySearchAutoComplete") %]

