# --
# Modified version of the work: Copyright (C) 2006-2023 KIX Service Software GmbH, https://www.kixdesk.com
# based on the original work of:
# Copyright (C) 2001-2023 OTRS AG, https://otrs.com/
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file LICENSE for license information (AGPL). If you
# did not receive this file, see https://www.gnu.org/licenses/agpl.txt.
# --


<div class="MainBox ARIARoleMain">
    <div class="ClearLeft"></div>
    <div class="Headline">
        <div class="Flag" title="[% Translate(Data.CurInciState) | html %]">
            <span class="[% Data.CurInciSignal | html %]"></span>
        </div>
        <h1 title="[% Translate("Configuration Item") | html %]: [% Data.Number | html %] &ndash; [% Data.Name | truncate(40) | html %]">
            [% Translate("Configuration Item") | html %]: [% Data.Number | html %] <span>&mdash;</span> [% Data.Name | truncate(60) | html %]
        </h1>
    </div>
    <div class="LayoutFixedSidebar SidebarLast">

        [% Data.StyleClasses %]

        <div class="SidebarColumn">
[% RenderBlockStart("Sidebar") %]
          [% Data.KIXSidebarContent %]
[% RenderBlockEnd("Sidebar") %]
[% RenderBlockStart("LinkTableSimple") %]
            <div class="WidgetSimple DontPrint">
                <div class="Header">
                     <h2><span>[% Translate("Linked Objects") | html %]</span></h2>
                </div>
                <div class="Content">
                    [% Data.LinkTableStrg %]
                </div>
            </div>
[% RenderBlockEnd("LinkTableSimple") %]
        </div>
        <div class="ContentColumn">
            <div class="ControlRow">
                <h2></h2>
            </div>
            <div class="ActionRow">
                <ul class="Actions">
[% RenderBlockStart("Menu") %]
[% RenderBlockStart("MenuItem") %]
                    <li>
                        [% Data.HTMLLink %]
                    </li>
[% RenderBlockStart("ShowConfirmDialog") %]
[% WRAPPER JSOnDocumentComplete %]
<script type="text/javascript">//<![CDATA[
/*global ITSM: true */
    ITSM.Agent.ConfirmDialog.BindConfirmDialog({
        ElementID:                  'Menu[% Data.MenuID %]',
        ElementSelector:            '[% Data.ElementSelector | Interpolate %]',
        DialogContentQueryString:   '[% Data.DialogContentQueryString | Interpolate %]',
        ConfirmedActionQueryString: '[% Data.ConfirmedActionQueryString | Interpolate %]',
        DialogTitle:                '[% Data.DialogTitle | Interpolate %]',
        TranslatedText:             {
            Yes: [% Translate("Yes") | JSON %],
            No:  [% Translate("No") | JSON %],
            Ok:  [% Translate("Ok") | JSON %]
        }
    });
//]]></script>
[% END %]
[% RenderBlockEnd("ShowConfirmDialog") %]
[% RenderBlockEnd("MenuItem") %]
[% RenderBlockEnd("Menu") %]
                </ul>
            </div>
            <div id="ContentItemTabs">
                <ul id="ContentItemNavTabs">
[% RenderBlockStart("DataTabDataLink") %]
                    <li><a href="[% Env("Baselink") %][% Data.Link %]" title="[% Data.Description | html %]">[% Translate(Data.Label) | html %] [% Data.LabelCount | html %]</a></li>
[% RenderBlockEnd("DataTabDataLink") %]
[% RenderBlockStart("DataTabDataPreloaded") %]
                    <li><a href="#[% Data.Anchor %]" title="[% Data.Description | html %]">[% Translate(Data.Label) | html %] [% Data.LabelCount | html %]</a></li>
[% RenderBlockEnd("DataTabDataPreloaded") %]
                </ul>
[% RenderBlockStart("DataTabContentPreloaded") %]
                 <div id="[% Data.Anchor %]">
                    [% Data.ContentStrg %]
                </div>
[% RenderBlockEnd("DataTabContentPreloaded") %]
            </div>
        </div>
        <div class="Clear"></div>
    </div>
</div>

[% WRAPPER JSOnDocumentComplete %]
<script type="text/javascript">//<![CDATA[
/*global ITSM: true */

    Core.KIX4OTRS.KIXSidebar.Init('[% Env("AgentITSMConfigItemZoomSidebarWidth") %]','[% Env("Action") %]','ConfigItemID=[% Data.ConfigItemID | uri %];');

    $('ul.Actions a.AsPopup').on('click', function (Event) {
        if ( $(this).attr('href').match(/AgentTicket(Phone|Email)/) ) {
            window.open($(this).attr('href'),'_blank');
        }
        else {
            Core.UI.Popup.OpenPopup($(this).attr('href'), 'Action');
        }
        return false;
    });

    $('ul.Actions a.HistoryBack').on('click', function (Event) {
        history.back();
        return false;
    });

    // disable ajax/tab caching
    $.ajaxSetup({ cache: false });

    $('#ContentItemTabs').tabs({
        create: function(event, ui) {
            $(this).find('ul > li > a').attr('title', '');
            $(this).find('div').html('<span class="AJAXLoader"></span>');
        },
        beforeActivate: function(event, ui) {
            $(window).off();
            $(this).find('div').html('<span class="AJAXLoader"></span>');
        },
        active: '[% Data.SelectedTab | uri %]',
        beforeLoad: function( event, ui ) {
            ui.ajaxSettings.cache = false,
            ui.ajaxSettings.error = function( xhr, status, index, anchor ) {
                $(anchor.hash)
                    .html("Couldn't load this tab. We'll try to fix this as soon as possible.");
            }
        }
    });

    Core.UI.InitWidgetActionToggle();
//]]></script>
[% END %]
