# --
# Copyright (C) 2006-2018 c.a.p.e. IT GmbH, http://www.cape-it.de
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (AGPL). If you
# did not receive this file, see http://www.gnu.org/licenses/agpl.txt.
# --


[% RenderBlockStart("ITSMCITicketSearchAutoComplete") %]
[% WRAPPER JSOnDocumentComplete %]
<script type="text/javascript">//<![CDATA[
    Core.Config.Set('Autocomplete.MinQueryLength', "[% Data.minQueryLength | html %]");
    Core.Config.Set('Autocomplete.QueryDelay', "[% Data.queryDelay | html %]");
    Core.Config.Set('Autocomplete.MaxResultsDisplayed', "[% Data.maxResultsDisplayed | html %]");
    Core.Config.Set('Autocomplete.DynamicWidth', "[% Data.dynamicWidth | html %]");
    Core.Config.Set('Autocomplete.SearchButtonText', [% Translate("Search ITSMCITicket") | JSON %]);
//]]></script>

[% RenderBlockStart("ITSMCITicketSearchInit") %]
<script type="text/javascript">//<![CDATA[
    var FieldID = '[% Data.ItemID | html %]';
    FieldID = FieldID.replace(/:/g, '\\:');
    Core.Agent.ITSMCITicketSearch.Init($("#"+FieldID), [% Data.ActiveAutoComplete | html %]);
//]]></script>
[% RenderBlockEnd("ITSMCITicketSearchInit") %]

[% END %]
[% RenderBlockEnd("ITSMCITicketSearchAutoComplete") %]

