# --
# Modified version of the work: Copyright (C) 2006-2022 c.a.p.e. IT GmbH, https://www.cape-it.de
# based on the original work of:
# Copyright (C) 2001-2022 OTRS AG, https://otrs.com/
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file LICENSE for license information (AGPL). If you
# did not receive this file, see https://www.gnu.org/licenses/agpl.txt.
# --


[% RenderBlockStart("AgentUserSearchAutoComplete") %]
[% WRAPPER JSOnDocumentComplete %]
<script type="text/javascript">//<![CDATA[
    Core.Config.Set('Autocomplete.MinQueryLength', "[% Data.minQueryLength | html %]");
    Core.Config.Set('Autocomplete.QueryDelay', "[% Data.queryDelay | html %]");
    Core.Config.Set('Autocomplete.MaxResultsDisplayed', "[% Data.maxResultsDisplayed | html %]");
    Core.Config.Set('Autocomplete.DynamicWidth', "[% Data.dynamicWidth | html %]");
    Core.Config.Set('Autocomplete.SearchButtonText', [% Translate("Search Agent") | JSON %]);
    Core.Config.Set('Autocomplete.Groups', "[% Data.groups | html %]");
//]]></script>

[% RenderBlockStart("AgentUserSearchInit") %]
<script type="text/javascript">//<![CDATA[
/*global ITSM: true */
    var FieldID = '[% Data.ItemID | html %]';
    FieldID = FieldID.replace(/:/g, '\\:');
    Core.Agent.UserSearch.Init($("#"+FieldID), [% Data.ActiveAutoComplete | html %]);
//]]></script>
[% RenderBlockEnd("AgentUserSearchInit") %]

[% END %]
[% RenderBlockEnd("AgentUserSearchAutoComplete") %]
