# --
# Copyright (C) 2006-2024 KIX Service Software GmbH, https://www.kixdesk.com
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file LICENSE for license information (AGPL). If you
# did not receive this file, see https://www.gnu.org/licenses/agpl.txt.
# --


[% RenderBlockStart("DashboardSystemMessage") %]
<table class="DataTable">
    <thead>
        <tr>
            <th>[% Translate("Headline") | html %]</th>
[% RenderBlockStart("DashboardHeadTeaser") %]
            <th>[% Translate("Teaser") | html %]</th>
[% RenderBlockEnd("DashboardHeadTeaser") %]
[% RenderBlockStart("DashboardHeadCreatedBy") %]
            <th>[% Translate("Author") | html %]</th>
[% RenderBlockEnd("DashboardHeadCreatedBy") %]
        </tr>
    </thead>
    <tbody>
[% RenderBlockStart("DashboardRow") %]
        <tr data-id="[% Data.MessageID %]" title="[% Translate("Read this message") %]">
            <td class="SystemMessageOpenDialog">
                [% Data.Title | html %]
            </td>
[% RenderBlockStart("DashboardColumnTeaser") %]
            <td class="SystemMessageOpenDialog" >[% Data.ShortText | html %]</td>
[% RenderBlockEnd("DashboardColumnTeaser") %]
[% RenderBlockStart("DashboardColumnCreatedBy") %]
            <td class="SystemMessageOpenDialog" >[% Data.UserFirstname | html %] [% Data.UserLastname | html %]</td>
[% RenderBlockEnd("DashboardColumnCreatedBy") %]
        </tr>
[% RenderBlockEnd("DashboardRow") %]
[% RenderBlockStart("DashboardSystemMessageNone") %]
            <tr>
                <td class="AutoColspan">
                    [% Translate("none") | html %]
                </td>
            </tr>
[% RenderBlockEnd("DashboardSystemMessageNone") %]
    </tbody>
</table>
[% WRAPPER JSOnDocumentComplete %]
<script type="text/javascript">//<![CDATA[
    Core.UI.SystemMessage.Init('Dashboard', '[% Data.Name %]');
//]]></script>
[% END %]
[% RenderBlockEnd("DashboardSystemMessage") %]
