# --
# Copyright (C) 2006-2023 c.a.p.e. IT GmbH, https://www.cape-it.de
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file LICENSE for license information (AGPL). If you
# did not receive this file, see https://www.gnu.org/licenses/agpl.txt.
# --


<div class="WidgetSimple CanDrag Expanded">
    <div class="Header">
        <div class="WidgetAction Toggle" title="[% Translate("Show or hide the content.") | html %]"></div>
        <h2><span>[% Translate("Configuration Item Information") | html %]</span></h2>
    </div>
    <div class="Content">
        <fieldset class="TableLike FixedLabelSmall Tight">

            <label>[% Translate("Class") | html %]:</label>
            <p class="Value">[% Translate(Data.Class) | html %]</p>
            <div class="Clear"></div>

            <label>[% Translate("Name") | html %]:</label>
            <p class="Value">[% Data.Name | truncate(25) | html %]</p>
            <div class="Clear"></div>

            <label>[% Translate("Current Deployment State") | html %]:</label>
            <div class="Value" title="[% Translate(Data.CurDeplState) | html %]">
                <div class="Flag Small">
                    <span class="[% Data.CurDeplSignal | html %]"></span>
                </div>
                [% Translate(Data.CurDeplState) | html %]
            </div>
            <div class="Clear"></div>

                <label>[% Translate("Current Incident State") | html %]:</label>
                <div class="Value" title="[% Translate(Data.CurInciState) | html %]">
                <div class="Flag Small">
                    <span class="[% Data.CurInciSignal | html %]"></span>
                </div>
                [% Translate(Data.CurInciState) | html %]
            </div>
            <div class="Clear"></div>

            <label>[% Translate("Created") | html %]:</label>
            <p class="Value">[% Data.CreateTime | Localize("TimeLong") %]</p>
            <div class="Clear"></div>

            <label>[% Translate("Created by") | html %]:</label>
            <p class="Value">
                [% Data.CreateByUserFullName | html %]
            </p>
            <div class="Clear"></div>

            <label>[% Translate("Last changed") | html %]:</label>
            <p class="Value">[% Data.ChangeTime | Localize("TimeLong") %]</p>
            <div class="Clear"></div>

            <label>[% Translate("Last changed by") | html %]:</label>
            <p class="Value">
                [% Data.ChangeByUserFullName | html %]
            </p>
            <div class="Clear"></div>
        </fieldset>
    </div>
</div>
