# --
# Modified version of the work: Copyright (C) 2006-2021 c.a.p.e. IT GmbH, https://www.cape-it.de
# based on the original work of:
# Copyright (C) 2001-2021 OTRS AG, https://otrs.com/
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file LICENSE for license information (AGPL). If you
# did not receive this file, see https://www.gnu.org/licenses/agpl.txt.
# --


<table class="DataTable">
    <tbody>
[% RenderBlockStart("ContentSmallUserOfflineRow") %]
        <tr>
            <td>
                [% Data.UserFirstname | html %] [% Data.UserLastname | html %]
[% RenderBlockStart("ContentSmallUserOfflineRowEmail") %]
                ([% Data.UserEmail | truncate(50) | html %])
[% RenderBlockEnd("ContentSmallUserOfflineRowEmail") %]
            </td>
        </tr>
[% RenderBlockEnd("ContentSmallUserOfflineRow") %]
[% RenderBlockStart("ContentSmallUserOfflineNone") %]
        <tr>
            <td>
                [% Translate("none") | html %]
            </td>
        </tr>
[% RenderBlockEnd("ContentSmallUserOfflineNone") %]
    </tbody>
</table>
