# --
# Copyright (C) 2006-2017 c.a.p.e. IT GmbH, http://www.cape-it.de
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (AGPL). If you
# did not receive this file, see http://www.gnu.org/licenses/agpl.txt.
# --


<div class="WidgetSimple SpacingTop SpacingLeft SpacingRight SpacingBottom">
    <div class="Header">[% Translate("Change Queue") | html %]</div>
    <div id="QueueDropDownContent" class="Content">
        [% Data.MainContent %]
    </div>
</div>

[% Data.TicketList %]

[% WRAPPER JSOnDocumentComplete %]
<script type="text/javascript">//<![CDATA[
    $('#QueueDropDownContent > select').bind('change', function () {
        document.location.href = $(this).val();
    });
//]]></script>
[% END %]
