# --
# Copyright (C) 2006-2021 c.a.p.e. IT GmbH, https://www.cape-it.de
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file LICENSE for license information (AGPL). If you
# did not receive this file, see https://www.gnu.org/licenses/agpl.txt.
# --


<tbody>
[% RenderBlockStart("Task") %]
    <tr class="[% Data.Class | html %]" style="[% Data.Style | html %]">
        <td id="ChecklistIcon_[% Data.ID %]" class="ChecklistIcon"><i class="fa [% Data.StateIcon | html %]" style="[% Data.StateStyle | html %]"></i><div class="ChecklistIconList Hidden" id="ChecklistIconList_[% Data.ID %]"></div></td>
        <td>[% Data.Content | html %]</td>
    </tr>
[% RenderBlockEnd("Task") %]
[% RenderBlockStart("NoTasks") %]
    <tr class="NoChecklist">
        <td colspan="2">[% Translate("None") | html %]</td>
    </tr>
[% RenderBlockEnd("NoTasks") %]
</tbody>
