# --
# Copyright (C) 2006-2022 c.a.p.e. IT GmbH, https://www.cape-it.de
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file LICENSE for license information (AGPL). If you
# did not receive this file, see https://www.gnu.org/licenses/agpl.txt.
# --


[% WRAPPER JSOnDocumentComplete %]
<script type="text/javascript">//<![CDATA[
    Core.UI.ActionRow.Init();
//]]></script>
[% END %]

<div id="OverviewBody" class="Overview TicketList">
    <table class="TableSmall" summary="A generic ITSM Configuration Item table">
        [% Data.StyleClasses %]
        <thead>
            <tr>
[% RenderBlockStart("RecordBulkActionHeader") %]
                <th class="Checkbox Fixed">
                    <input type="checkbox" class="Checkbox [% Data.SelectedAll %]" title="[% Translate("Select all") | html %]" id="SelectAllConfigItems" autocomplete="off" [% Data.ItemALLChecked %] />
                </th>
[% RenderBlockEnd("RecordBulkActionHeader") %]
[% RenderBlockStart("RecordCustomHeader") %]
                <th class="[% Data.CSS | html %]">
[% RenderBlockStart("RecordCustomHeaderLink") %]
                    <a href="[% Env("Baselink") %]Action=[% Env("Action") %];[% Data.LinkSort %];SortBy=[% Data.ColumnSortBy %];OrderBy=[% Data.OrderBy | uri %]">
                        [% Translate(Data.ColumnName) | html %]
                    </a>
[% RenderBlockEnd("RecordCustomHeaderLink") %]
[% RenderBlockStart("RecordCustomHeaderNoLink") %]
                    <span>
                        [% Translate(Data.ColumnName) | html %]
                    </span>
[% RenderBlockEnd("RecordCustomHeaderNoLink") %]
                </th>
[% RenderBlockEnd("RecordCustomHeader") %]
            </tr>
        </thead>
        <tbody>
[% RenderBlockStart("NoDataFoundMsg") %]
            <tr>
                <td colspan="[% Data.TotalColumns | html %]">
                    [% Translate("No data found.") | html %]
                </td>
            </tr>
[% RenderBlockEnd("NoDataFoundMsg") %]
[% RenderBlockStart("Record") %]
            <tr id="ConfigItemID_[% Data.ConfigItemID | html %]" class="MasterAction TicketOverviewHighlightClass" style="[% Data.LineStyle | html %]">
[% RenderBlockStart("RecordBulkAction") %]
                <td class="Checkbox Fixed">
                    <input class="Checkbox SelectItem" type="checkbox" name="ConfigItemID" value="[% Data.ConfigItemID | html %]"  autocomplete="off" [% Data.ItemChecked %]]/>
                </td>
[% RenderBlockEnd("RecordBulkAction") %]
[% RenderBlockStart("RecordCustom") %]
                <td style="vertical-align:top">
[% RenderBlockStart("RecordCustomLinkStart") %]
                    <a href="[% Env("Baselink") %]Action=AgentITSMConfigItemZoom;ConfigItemID=[% Data.ConfigItemID | uri %]" title="[% Data.Title %]" class="MasterActionLink">
[% RenderBlockEnd("RecordCustomLinkStart") %]
                        [% Data.Value %]
[% RenderBlockStart("RecordCustomLinkEnd") %]
                    </a>
[% RenderBlockEnd("RecordCustomLinkEnd") %]
                </td>
[% RenderBlockEnd("RecordCustom") %]
            </tr>
[% RenderBlockEnd("Record") %]
        </tbody>
    </table>
</div>

[% RenderBlockStart("DocumentReadyActionRowAdd") %]
[% WRAPPER JSOnDocumentComplete %]
<script type="text/javascript">//<![CDATA[
    ITSM.UI.ConfigItemActionRow.AddActions($('#ConfigItemID_[% Data.ConfigItemID | html %]'), [% Data.Data %]);
//]]></script>
[% END %]
[% RenderBlockEnd("DocumentReadyActionRowAdd") %]

[% WRAPPER JSOnDocumentComplete %]
<script type="text/javascript">//<![CDATA[

    /*global ITSM: true */
    ITSM.UI.ConfigItemActionRow.Init();

    Core.UI.InitCheckboxSelection($('table td.Checkbox'));

    $('.MasterAction').on('click', function (Event) {
        var $MasterActionLink = $(this).find('.MasterActionLink'),
            URL,
            Title = $(this).find('div').attr('title'),
            ConfigItem = Title.split('::');

        if ( $MasterActionLink.attr('href') === undefined ) {
            URL = '[% Env("Baselink") %]Action=AgentITSMConfigItemZoom;ConfigItemID='+ConfigItem[0]+';' + Core.Config.Get('SessionName') + '=' + Core.Config.Get('SessionID');
        }
        else {
            URL = $MasterActionLink.attr('href');
        }
        // only act if the link was not clicked directly
        if (Event.target !== $MasterActionLink.get(0)) {
            // window.location = $MasterActionLink.attr('href');
            window.location = URL;
            return false;
        }
    });

    $('#SelectAllConfigItems').on('click', function (Event) {
        var $Element = $(this);

        if ( $(this).hasClass('SelectAllItemsPages')
             && $(this).prop('checked')
        ) {
            ITSM.UI.ConfigItemActionRow.InitShowContentDialog(
                {
                    Element: $Element,
                    ID: 'SelectItemsSettingsDialogContainer',
                    Title: '[% Translate("CI selection") %]',
                    Content: '<p style="text-align: center;">[% Translate("From which page should be selected the config items.")%]</p>',
                    Label: [
                        '[% Translate("Current Page") %]',
                        '[% Translate("All Pages") %]'
                    ]
                }, 'SelectDialog');

            $('.Dialog > .Header .Close').on('click',function(event){
                event.preventDefault();
                event.stopPropagation();
                $('#SelectAllConfigItems').prop('checked',false);
            });
        } else if ( $(this).prop('checked') ) {
            ITSM.UI.ConfigItemActionRow.UpdateSelectItems($Element, false);
        } else {
            ITSM.UI.ConfigItemActionRow.UpdateSelectItems($Element, true);
        }
    });


    Core.Config.Set('ITSMBulkDialogButtonNo', '[% Translate("No") %]');
    Core.Config.Set('ITSMBulkDialogButtonYes', '[% Translate("Yes") %]');
    Core.Config.Set('ITSMBulkDialog', '<p style="text-align: center;">[% Translate("You have selected a larger number (###) of objects. Please note that this can lead to a loss of performance! Do you want to continue?") %]</p>');
    Core.Config.Set('ITSMBulkDialogTitle', '[% Translate("Warning") %]');

[% RenderBlockStart("BulkActivate") %]
    ITSM.UI.ConfigItemActionRow.TriggerUpdateActionRow();
[% RenderBlockEnd("BulkActivate") %]
//]]></script>
[% END %]
